body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}

.icon {
  position: relative;
  top: 10px;
  margin-left: 230px;
}

.icon .fav {
  color: darkgreen;
}
.app-container {
  max-width: 90%;
  width: 1200px;
  background-color: white;
}
.content {
  padding: 40px;
  margin-top: 50px;
}

.general_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.weather-status {
  font-size: 3rem;
  font-weight: bold;
}
.weather-location {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
}

.search-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #222;
  height: 120px;
  display: flex;
  border-radius: 5px;
  border: black;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.detail .title {
  font-weight: bold;
  font-size: 26px;
  color: lightcoral;
}

.detail .value {
  font-weight: bold;
  font-size: 20px;
}
.detail.bordered {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
